<!doctype html>
 <html class="no-js" lang="pt"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

        <style type="text/css">
          body {
            background-color: rgba(237,239,241,1);
          }
          .logo {
            margin: 1rem auto;
          }
          .title {
            color: #5db400;
            font-size: 20px;
            margin: 2rem 0 1rem 0;
          }
          .subtitle {
            color: rgb(85, 85, 85);
            font-size: 18px;
          }
          .plan {
            max-width: 730px;
            margin: 2rem auto;
          }
          .card-block {
            background-color: #fff;
          }
          .card-block-1 {
            border-radius: 5px 0 0 5px;
          }
          .card-block-2 {
            border-radius: 0;
          }
          .card-block-3 {
            border-radius: 0 5px 5px 0;
          }
          .card-active {
            background-color: #2196DD;
            color: #fff;
          }
          .card-title {
            font-size: 18px;
            font-weight: bold;
          }
          .card-price {
            font-size: 22px;
            display: block;
            margin: 2rem auto;
          }
          .btn-orange {
            background-color: rgba(235,90,52,1);
            border-color: rgba(235,90,52,1);
            font-size: 14px;
            border-radius: 5px;
          }
          .btn-green {
            background-color: rgba(80,171,0,1);
            border-color: rgba(80,171,0,1);
            border-radius: 5px;
          }
          .testimonies {
            margin: 2rem auto;
            max-width: 720px;
          }
          .testimonies .card {
            width: 30%;
            background-color: #fff;
            border-radius: 5px;
          }
          .testimonies .card-block {
            position: relative;
            background-color: #fff;
            z-index: 10;
            border-radius: 5px;
          }
          .testimonies .card-text {
            font-size: 20px;
            display: block;
            padding: 2rem 0;
          }
          .card-user-img {
            border-radius: 50%;
            z-index: 12;
            border: 2px solid #fff;
          }
          .card-user {
            z-index: 15;
            margin-top: -35px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 100%;
          }
          .footer-msg {
            margin-top: 8rem;
          }
          .footer-msg-1 {
            font-size: 20px;
            margin: 0;
          }

          .footer-msg-2 {
            font-size: 20px;
            font-weight: bold;
          }
          @media screen and (max-width: 480px) {
            .card {
              width: 100% !important;
              display: block !important;
            }
            .testimonies .card {
              width: 100%;
              background-color: #fff;
              border-radius: 5px;
              margin-bottom: 7rem;
            }
          }
        </style>
    </head>
    <body class="container">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
      <div class="row text-center">
        <img class="logo center-block" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Colegio-brasil-gnerico_zpsw2qjmoov.png" alt="">
        <h2 class="title">Ten a tu lado un profesor de matemáticas SIEMPRE que lo necesites.</h2>
        <h3 class="subtitle">ÚLTIMA SEMANA de promoción</h3>
      </div>


      <div class="plan text-center">

        <div class="card-group">
          <div class="card">
            <div class="card-block card-block-1">
              <h4 class="card-title">Crédito tarefa</h4>
              <span class="card-price">EUR$ 6.99</span>
              <p class="card-text">Recibe 6 respuestas. Tranquilo! El crédito Tarefa no se vence.</p>
              <p class="card-text"></p>
              <a><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HZW7Z3FBJVHMA">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-es_zpshswmiopr.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</a>
            </div>
          </div>
          <div class="card">
            <div class="card-block card-block-2">
              <h4 class="card-title">Crédito tarefa</h4>
              <span class="card-price">EUR$ 10.99</span>
              <p class="card-text">Recibe 10 respuestas. Tranquilo! El crédito Tarefa no se vence.</p>
              <p class="card-text"></p>
              <a ><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="L582YUJ4GZT6E">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-es_zpshswmiopr.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> 
</a>
            </div>
          </div>
          <div class="card card-active">
            <div class="card-block card-active card-block-3">
              <h4 class="card-title">Plan Mensual</h4>
              <span class="card-price">EUR$ 14.99/mes</span>
              <p class="card-text">Use Tarefa por un mes y haga todas las preguntas que quieras!</p>
              <p class="card-text"></p>
              <a href="#" ><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PSW7F3JWVCX8C">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-es_zpshswmiopr.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</a>
            </div>
          </div>
        </div>

      </div>

      <div class="testimonies text-center">
        
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <div class="card-block">
                <p class="card-text">“ Con Tarefa puedo hacer todas las preguntas que no alcanzó hacer en el salón de clases.”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Matheus%20da%20silva_zpsdpvpb5nt.png">
                <h4 class="card-title">Antonio</h4>
                <h6>Barcelona</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <p class="card-text">“Las respuesta son muy buenas siempre cuando yo las necesito.”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Carla%20Rafaela_zpsctaotqdt.png">
                <h4 class="card-title">Sofia</h4>
                <h6>Madrid</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <p class="card-text">“Con Tarefa logré mejorar las notas de mi universidad.”</p>
              </div>
              <div class="card-user">
                <img class="card-user-img" src="http://i1309.photobucket.com/albums/s635/tarefasimple/Marta%20Martins_zpszmgy6ayu.png">
                <h4 class="card-title">Marta</h4>
                <h6>Sevilla</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row footer-msg text-right">
          <p class="footer-msg-1"> Miles de profesores están disponibles para ayudarte.</p>
          <p class="footer-msg-2">¿Que estas esperando para aprender matemáticas hoy?</p>
        </div>

      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

      <script src="js/vendor/bootstrap.min.js"></script>

      <script src="js/main.js"></script>

   
    </body>
</html>


