

		<div class="bgImage">
			<div class="topBar row">
				<!-- Logo Image Start -->
				<div id="logo" class="small-12 medium-6 columns">
					<!-- Replace the src with path to your logo image -->
					<a href="http://www.tarefa.co/"> <img src="http://i1309.photobucket.com/albums/s635/tarefasimple/img-promo_zpswqxz38gh.png" alt="Com dúvidas em matemática?"></a>
					</a>
				</div>
				<!-- Logo Image End -->

				<!-- Social Media Buttons Start -->
				<!-- <div class="socialButtons small-12 medium-6 columns">
					<ul><li><a href="https://www.facebook.com/tarefabrasil"><span class="icon-facebook"></span></a></li>
						<li><a href="https://www.twitter.com/tarefabrasil"><span class="icon-twitter"></span></a></li>
						
					</ul>
				</div> -->
				<!-- Social Media Buttons End -->
			</div>
	
			<div class="hero row clearfix">
			<header class="clearfix">
				<!-- Product or E-book image start -->
			
				<!-- Product or E-book image End -->

				<div class="small-12 medium-7 large-7 columns clearfix">
					<h1> Ask a math teacher when you need it most!</h1>
		
					<p>Tarefa gives you the opportunity to get answers on *your* schedule: 24 hours a day, 7 days a week.Simply sign up, ask and within minutes receive a step-by-step response by a certified math expert.
 
					 </p>
 			<h2>Don't pour into hours of private tutoring, try it today!</h2> 
					<!-- Watch Video Button Start -->
					<!-- <button class="watchVideo left" data-reveal-id="videoModal" data-closeonbackgroundclick="true"><span class="icon-play4 left"></span>Ver Video</button> -->
					<!-- Watch Video Button End -->

					<!-- Video PopUp Start -->
					<div id="videoModal" class="reveal-modal large" data-reveal>

						<div class="flex-video widescreen vimeo" style="display: block;">
							<!-- Video Embedded Code Start -->
							<iframe width="1280" height="720" src="http://www.youtube-nocookie.com/embed/wnXCopXXblE?rel=0" frameborder="0" allowfullscreen="" data-src="http://www.youtube-nocookie.com/embed/wnXCopXXblE?rel=0"></iframe>
							<!-- Video Embedded Code End -->
						</div>

					  <a class="close-reveal-modal">&#215;</a>
					</div>
					<!-- Video PopUp End -->

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="A7MG6ANMAM73E">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-3-en_zps5wenkir3.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
				</div>
			</header>		
			</div>
		</div>

		

		<!-- Pricing Tables Section Start -->
		<div class="pricingTables">
			<div class="row" data-equalizer>

				<div class="small-12 medium-4 large-4 columns">
					<div class="pricing" data-equalizer-watch>
						<div class="planName">
							<h3>BASIC PLAN!</h3>
						</div>
						<div class="planPrice">
							<p>USD &#36; 6.99 / month</p>
						</div>
						<div class="planDetails">
							<p>6 answers</p>
							<p></p>
						</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="N2MJ58ZNJV2TE">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-en_zpsrtu6dtct.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

					</div>
				</div>

				<div class="small-12 medium-4 large-4 columns">
					<div class="pricing" data-equalizer-watch>
						<div class="planName">
							<h3>BECOME A MATH <br>EXPERT :)</h3>
						</div>
						<div class="planPriceAlt carrot">
							<p> USD &#36; 9.99 / month</p>
						</div>
						<div class="planDetails">
							<p>Ask whenever you want!<br/> Total Access and unlimited help for <br/>3 months <br/> * 30 day money back guarantee no questions asked.</p>
						</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="A7MG6ANMAM73E">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-3-en_zps5wenkir3.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


					</div>
				</div>

				<div class="small-12 medium-4 large-4 columns">
					<div class="pricing" data-equalizer-watch>
						<div class="planName">
							<h3>MONTHLY  PLAN</h3>
						</div>
						<div class="planPrice">
							<p>USD &#36;14.99/ month</p>
						</div>
						<div class="planDetails">
						<p>Ask whenever you want!<br/> Total Access and unlimited help for <br/> 1 months <br/> * 30 day money back guarantee no questions asked.  </p>
						</div>
						
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TH7KD7W97R43W">
<input type="image" src="http://i1309.photobucket.com/albums/s635/tarefasimple/boton-en_zpsrtu6dtct.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


					</div>
				</div>
								
			</div>
		</div>
		<!-- Pricing Tables Section End -->




		

		<footer class="black">
			<!-- Footer First Row -->
			<div class="row clearfix">
				<!-- Copyright Info -->
				<span class="copyright small-12 large-4 columns">Copyright &copy 2015 | Made with &hearts; Tarefa</span>
				<!-- Footer Navigation Links-->
				<span class="footerNav small-12 large-4 columns">
					<!-- Replace with your email -->
					<!-- <a href="http://www.tarefa.co/static_pages/about_us" target="_blank" title="E-mail Us">Tarefa </a>| -->
					<a href="http://blog.tarefa.co/en"  target="_blank" title="Affiliates"> Blog </a>|
					<a href="http://teachers.tarefa.co" target="_blank" title="Privacy Policy"> Teachers </a>|
					
				</span>
			</div>
			<!-- Footer Second Row -->
			
		</footer>

		<script src="//load.sumome.com/" data-sumo-site-id="d5a30f20953cc0a9c28e1dd99612baaf9d42129dc7a55bb41229e7543a8b552e" async="async"></script>

		

</html>