@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-ry9tog');
	src:url('icomoon.eot?#iefix-ry9tog') format('embedded-opentype'),
		url('icomoon.ttf?-ry9tog') format('truetype'),
		url('icomoon.woff?-ry9tog') format('woff'),
		url('icomoon.svg?-ry9tog#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-bolt2:before {
	content: "\f0e7";
}
.icon-flash:before {
	content: "\f0e7";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-gratipay:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-mortar-board:before {
	content: "\f19d";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-jsfiddle:before {
	content: "\f1cc";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-send:before {
	content: "\f1d8";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-diamond2:before {
	content: "\f219";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-pencil2:before {
	content: "\e602";
}
.icon-droplet:before {
	content: "\e603";
}
.icon-image:before {
	content: "\e604";
}
.icon-camera:before {
	content: "\e605";
}
.icon-music:before {
	content: "\e606";
}
.icon-play:before {
	content: "\e607";
}
.icon-camera2:before {
	content: "\e608";
}
.icon-bullhorn:before {
	content: "\e609";
}
.icon-file:before {
	content: "\e60a";
}
.icon-folder:before {
	content: "\e60b";
}
.icon-cart:before {
	content: "\e60c";
}
.icon-credit:before {
	content: "\e60d";
}
.icon-support:before {
	content: "\e60e";
}
.icon-phone:before {
	content: "\e60f";
}
.icon-pushpin:before {
	content: "\e610";
}
.icon-location:before {
	content: "\e611";
}
.icon-alarm:before {
	content: "\e612";
}
.icon-screen:before {
	content: "\e613";
}
.icon-mobile:before {
	content: "\e614";
}
.icon-tablet:before {
	content: "\e615";
}
.icon-bubble:before {
	content: "\e616";
}
.icon-bubbles:before {
	content: "\e617";
}
.icon-user:before {
	content: "\e618";
}
.icon-quotes-left:before {
	content: "\e619";
}
.icon-busy:before {
	content: "\e61a";
}
.icon-search:before {
	content: "\e61b";
}
.icon-key:before {
	content: "\e61c";
}
.icon-lock:before {
	content: "\e61d";
}
.icon-wrench:before {
	content: "\e61e";
}
.icon-cog:before {
	content: "\e61f";
}
.icon-cogs:before {
	content: "\e620";
}
.icon-wand:before {
	content: "\e621";
}
.icon-pie:before {
	content: "\e622";
}
.icon-stats:before {
	content: "\e623";
}
.icon-gift:before {
	content: "\e624";
}
.icon-trophy:before {
	content: "\e625";
}
.icon-rocket:before {
	content: "\e626";
}
.icon-meter:before {
	content: "\e627";
}
.icon-hammer:before {
	content: "\e628";
}
.icon-lab:before {
	content: "\e629";
}
.icon-remove:before {
	content: "\e62a";
}
.icon-briefcase:before {
	content: "\e62b";
}
.icon-truck:before {
	content: "\e62c";
}
.icon-powercord:before {
	content: "\e62d";
}
.icon-earth:before {
	content: "\e62e";
}
.icon-star:before {
	content: "\e630";
}
.icon-star2:before {
	content: "\e631";
}
.icon-heart:before {
	content: "\e632";
}
.icon-thumbs-up:before {
	content: "\e634";
}
.icon-thumbs-up2:before {
	content: "\e635";
}
.icon-happy:before {
	content: "\e636";
}
.icon-smiley:before {
	content: "\e637";
}
.icon-wink:before {
	content: "\e638";
}
.icon-info:before {
	content: "\e639";
}
.icon-checkmark:before {
	content: "\e63a";
}
.icon-minus:before {
	content: "\e63b";
}
.icon-plus:before {
	content: "\e63c";
}
.icon-play2:before {
	content: "\e63d";
}
.icon-play3:before {
	content: "\e63e";
}
.icon-arrow-right:before {
	content: "\e63f";
}
.icon-arrow-left:before {
	content: "\e640";
}
.icon-arrow-right2:before {
	content: "\e641";
}
.icon-arrow-left2:before {
	content: "\e642";
}
.icon-scissors:before {
	content: "\e643";
}
.icon-cloud:before {
	content: "\e645";
}
.icon-star3:before {
	content: "\e646";
}
.icon-tv:before {
	content: "\e647";
}
.icon-sound:before {
	content: "\e648";
}
.icon-video:before {
	content: "\e649";
}
.icon-trash:before {
	content: "\e64a";
}
.icon-user2:before {
	content: "\e64b";
}
.icon-key2:before {
	content: "\e64c";
}
.icon-search2:before {
	content: "\e64d";
}
.icon-settings:before {
	content: "\e64e";
}
.icon-camera3:before {
	content: "\e64f";
}
.icon-tag:before {
	content: "\e650";
}
.icon-lock2:before {
	content: "\e651";
}
.icon-bulb:before {
	content: "\e652";
}
.icon-pen:before {
	content: "\e653";
}
.icon-diamond:before {
	content: "\e654";
}
.icon-display:before {
	content: "\e655";
}
.icon-location2:before {
	content: "\e656";
}
.icon-eye:before {
	content: "\e657";
}
.icon-bubble2:before {
	content: "\e658";
}
.icon-stack:before {
	content: "\e659";
}
.icon-cup:before {
	content: "\e65a";
}
.icon-phone2:before {
	content: "\e65b";
}
.icon-news:before {
	content: "\e65c";
}
.icon-mail:before {
	content: "\e65d";
}
.icon-like:before {
	content: "\e65e";
}
.icon-photo:before {
	content: "\e65f";
}
.icon-note:before {
	content: "\e660";
}
.icon-clock:before {
	content: "\e661";
}
.icon-paperplane:before {
	content: "\e662";
}
.icon-params:before {
	content: "\e663";
}
.icon-banknote:before {
	content: "\e664";
}
.icon-data:before {
	content: "\e665";
}
.icon-music2:before {
	content: "\e666";
}
.icon-megaphone:before {
	content: "\e667";
}
.icon-study:before {
	content: "\e668";
}
.icon-lab2:before {
	content: "\e669";
}
.icon-food:before {
	content: "\e66a";
}
.icon-t-shirt:before {
	content: "\e66b";
}
.icon-fire:before {
	content: "\e66c";
}
.icon-clip:before {
	content: "\e66d";
}
.icon-shop:before {
	content: "\e66e";
}
.icon-calendar:before {
	content: "\e66f";
}
.icon-wallet:before {
	content: "\e670";
}
.icon-vynil:before {
	content: "\e671";
}
.icon-truck2:before {
	content: "\e672";
}
.icon-world:before {
	content: "\e673";
}
.icon-mail2:before {
	content: "\e674";
}
.icon-paperplane2:before {
	content: "\e675";
}
.icon-paperclip:before {
	content: "\e676";
}
.icon-chat:before {
	content: "\e677";
}
.icon-comment:before {
	content: "\e678";
}
.icon-flag:before {
	content: "\e679";
}
.icon-cog2:before {
	content: "\e67a";
}
.icon-tools:before {
	content: "\e67b";
}
.icon-camera4:before {
	content: "\e67c";
}
.icon-megaphone2:before {
	content: "\e67d";
}
.icon-leaf:before {
	content: "\e67e";
}
.icon-new:before {
	content: "\e67f";
}
.icon-graduation:before {
	content: "\e680";
}
.icon-microphone:before {
	content: "\e681";
}
.icon-bolt:before {
	content: "\e682";
}
.icon-briefcase2:before {
	content: "\e683";
}
.icon-key3:before {
	content: "\e684";
}
.icon-rocket2:before {
	content: "\e685";
}
.icon-brush:before {
	content: "\e686";
}
.icon-checkmark2:before {
	content: "\e687";
}
.icon-cross:before {
	content: "\e688";
}
.icon-info2:before {
	content: "\e689";
}
.icon-upload:before {
	content: "\e68a";
}
.icon-play4:before {
	content: "\e68b";
}
